body{
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}
#textEntered{
  height: 100px;
  width: 80%;
}
#myform{
  border: 2px solid black;
  width: 80%;
  height: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}
.bttn{
  width: 80%;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(255, 192, 203, 0.596);
  font-size: 15px;
  border: 1px solid black;
}
fieldset{
  border: none;
}
.title{
  text-align: center;
}
.results-container{
  padding-top: 40px;
  visibility: hidden;
   width: 80%;
  margin: 0 auto;
}
#results{
  background-color: rgb(255, 255, 255);
}
.highlight{
  background-color: yellow;
}

.frequent-phrases-container{
 padding-bottom: 20px;
  visibility: hidden;
  width: 80%;
  margin: 0 auto;
  border-bottom: 5px solid black;
}
.frequent-phrases-title{
font-size: 18px;
font-weight: bold;
}
.results-title{
  font-size: 18px;
  font-weight: bold;
}
